// o azul
// #2a6287
// rgba(44,97,137,255)

// o verde
// #3f927e
// rgba(63,146,126,255)



.bg-primary {
  background-color: #3f927e;
}

.color-primary {
  color: #3f927e;
}

.border-primary {
  border: 1px solid #3f927e;
}

.custom-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
}

.custom-ul {
  ul {
    list-style-type: disc;
    padding: 1px;
  }

  li::marker {
    color: gray;
  }
}

.linktree-color{
  color: #43e660;
}
