<style>
  .gradient {
    /* background: linear-gradient(90deg, rgba(44,97,137,255) 0%, rgba(153,162,247,1) 100%); */

    /* background: linear-gradient(
      90deg,
      rgba(44, 97, 137, 1) 0%,
      rgba(87, 122, 149, 1) 100%
    ); */

    background: linear-gradient(
      90deg,
      hsla(166, 40%, 41%, 1) 0%,
      hsla(166, 50%, 77%, 1) 97%
    );
  }

  .button-gradient {
    background-image: linear-gradient(
      to right top,
      #feda75,
      #fdcb61,
      #fcba4e,
      #fcaa3d,
      #fb982e,
      #fd872f,
      #fd7633,
      #fc6439,
      #f8514a,
      #f1405a,
      #e53268,
      #d62976
    );
  }
</style>

<div class="leading-normal tracking-normal text-white gradient">
  <!--Nav-->
  <nav
    id="header"
    class="fixed w-full z-30 top-0 text-white bg-gray-100 border-b-2"
  >
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2"
    >
      <div class="pl-4 flex justify-center items-center gap-2">
        <div>
          <img
            alt="healt care icon"
            class="h-10"
            src="assets/icons/arvore.png"
          />
        </div>
        <span
          class="toggleColour text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
        >
          <!--Icon from: http://www.potlabicons.com/ -->

          Amiris Costa
        </span>
      </div>
      <div class="block lg:hidden pr-4">
        <button
         (click)="onMenuTogleClick()"
          id="nav-toggle"
          class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
        >
          <svg
            class="fill-current h-6 w-6"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div

        class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
        id="nav-content"
      >
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <button
              (click)="scrollTo('sobre')"
              class="inline-block py-2 px-4 text-black font-bold no-underline cursor-pointer"
            >
              Sobre
            </button>
          </li>
          <li class="mr-3">
            <button
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
              (click)="scrollTo('formacoes')"
            >
              Formações
            </button>
          </li>
          <li class="mr-3">
            <button
              (click)="scrollTo('abordagens')"
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            >
              Abordagens
            </button>
          </li>
          <li class="mr-3">
            <button
              (click)="scrollTo('contato')"
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            >
              Contato
            </button>
          </li>
          <li class="mr-3">
            <button
              (click)="scrollTo('enderecos')"
              class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            >
              Endereços
            </button>
          </li>
        </ul>

        <button
          (click)="whatsappClick()"

          class=" hidden sm:inline md:inline lg:inline  mx-auto lg:mx-0 hover:underline bg-green-500 text-white font-bold rounded-full py-2 px-4 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
        >
          <div class="flex justify-between items-center gap-3">
            <i class="bi bi-whatsapp" style="font-size: 2rem"></i>
            <p>WhatsApp</p>
          </div>
        </button>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>
  <!--Hero-->
  <div class="pt-24">
    <div
      class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center animate__animated animate__fadeIn"
    >
      <!--Left Col-->
      <div
        class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
      >
        <!-- <p class="uppercase tracking-loose w-full"></p> -->

        <h1 class="text-5xl font-bold">Amiris Costa</h1>
        <h2 class="text-2xl">Psicólogo Clinico</h2>
        <h3 class="text-1xl">CRP 06/119810</h3>
        <blockquote>Seja tudo aquilo que quiser ser!!!</blockquote>

        <button (click)="scrollTo('contato')" class="my-4 p-4 bg-white text-green-500 rounded-full">
          Entre em contato!
        </button>

        <!-- <button class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          Subscribe
        </button> -->
      </div>
      <!--Right Col-->
      <div class="w-full md:w-3/5 py-6 text-center">
        <div class="md:ml-60 py-9">
          <img
            class="rounded-full"
            alt="Dr. Amiris Costa"
            width="400"
            height="400"
            loading="lazy"
            src="https://firebasestorage.googleapis.com/v0/b/amiriscosta-ce234.appspot.com/o/amiris_costa_1.jpeg?alt=media&token=40c9767e-3b7f-4981-b77d-7771150118cc"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="relative -mt-12 lg:-mt-24">
    <svg
      viewBox="0 0 1428 174"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g
          transform="translate(-2.000000, 44.000000)"
          fill="#FFFFFF"
          fill-rule="nonzero"
        >
          <path
            d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
            opacity="0.100000001"
          ></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"
          ></path>
          <path
            d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
            id="Path-4"
            opacity="0.200000003"
          ></path>
        </g>
        <g
          transform="translate(-4.000000, 76.000000)"
          fill="#FFFFFF"
          fill-rule="nonzero"
        >
          <path
            d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
          ></path>
        </g>
      </g>
    </svg>
    <div id="sobre"></div>
  </div>
  <section class="bg-white border-b py-8 px-4 sm:px-0 md:px-0 lg:px-0">
    <div class="container max-w-5xl mx-auto m-8">
      <h2
        class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
      >
        Sobre
      </h2>
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <div
        class="flex flex-col md:flex-row justify-center items-center gap-12 sm:gap-8 md:gap-8 lg:gap-8 text-gray-800 text-center"
      >
        <!-- <div class="order-2 sm:order-1 md:order-1">
          <img
            alt="Dr. Amiris Costa"
            class="w-52 h-52 md:w-full md:h-full"
            width="400"
            height="400"
            src="https://firebasestorage.googleapis.com/v0/b/amiriscosta-ce234.appspot.com/o/amiris-costa.jpg?alt=media&token=d7ca88ec-0291-4cdc-b7f5-6e2fc3bf97fc"
          />
        </div> -->
        <div
          class="order-1 sm:order-2 md:order-2 whitespace-pre-line max-w-2xl text-justify"
        >
            Psicólogo, Pós graduado em Terapia Comportamental Cognitivo, com MBA
          em Gestão Estratégica de Pessoas, e Pós em Projetos Sociais e Direitos
          Humanos. Realizei cursos extras de formação complementar nas áreas de
          transtornos de personalidade, neuropsicologia, psicologia social, e
          gestão/líder de si mesmo.
          <br>
          <br>

          Atuo auxiliando as pessoas a entrarem em
          contato com conteúdos que fogem à sua compreensão. Por serem muitas
          vezes conteúdos inconscientes, mas que interferem diretamente na sua
          maneira de agir, pensar e sentir. Que acabam se manifestando através
          da depressão, ansiedade, baixa autoestima, insegurança, automutilação,
          transtornos alimentares, entre diversas outras.
          <br>
          <br>
          Procuro trabalhar para
          que os pacientes consigam lidar com seus anseios, traumas,
          expectativas e barreiras impostas por elas mesmas e pelo mundo, no seu
          autoconhecimento e desenvolvimento pessoal/profissional, conectando-se
          consigo mesmo(a) e suas aspirações.
        </div>
      </div>
    </div>
    <div id="formacoes"></div>
  </section>

  <section class="bg-white border-b py-8 px-5 sm:px-0 md:px-0 lg:px-0">

    <h2
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
    >
      Formações
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>
    <div class="container max-w-5xl mx-auto m-8">
      <div
        class="flex flex-col sm:flex-row md:flex-row lg:flex-row justify-center items-center sm:justify-between sm:items-center md:justify-between md:items-center lg:justify-between lg:items-center gap-8 py-8 text-gray-800"
      >
        <div
          class="mx-4 whitespace-pre-line max-w-full sm:max-w-2xl md:max-w-2xl lg:max-w-2xl custom-ul"
        >
          <ul class="flex flex-col gap-4">
            <li>Graduado em Psicologia pela FSP</li>
            <li>MBA em Gestão Estratégica de Pessoas na FMU</li>
            <li>Pós Graduado em Terapia Cognitivo Comportamental pelo IPCS</li>
            <li>
              Pós Graduado em Projetos Sociais e Direitos Humanos pelo Anhembi
              Morumbi
            </li>
          </ul>
        </div>
        <div>
          <img
            width="400"
            height="400"
            alt="Educacao"
            src="assets/icons/education.svg"
          />
        </div>
      </div>
    </div>
    <div id="abordagens"></div>
  </section>

  <section class="bg-white border-b py-8">
    <h4
      class="w-full my-2 text-5xl font-medium leading-tight text-center text-gray-800"
    >
      Abordagens terapêuticas:
    </h4>
    <div class="w-full mb-10">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div
      class="hidden sm:flex sm:flex-col md:flex md:flex-col lg:flex lg:flex-col justify-center items-center color-primary gap-7"
    >
      <div class="custom-container">
        <div class="p-5 rounded-lg text-center border-2 border-primary">
          <p>Terapia Cognitivo Comportamental</p>
        </div>
        <div class="mx-2 rounded-lg p-5 text-center border-2 border-primary">
          <p>Humanista</p>
        </div>
      </div>
      <div class="mx-2 rounded-lg p-5 border-2 text-center border-primary">
        <p>Análise do Comportamento | Behaviorismo</p>
      </div>
    </div>

    <div
      class="flex flex-col sm:hidden md:hidden lg:hidden justify-center items-center color-primary gap-7"
    >
      <div class="mx-2 w-72 rounded-lg p-5 text-center border-2 border-primary">
        <p>Terapia Cognitivo Comportamental</p>
      </div>
      <div class="mx-2 w-72 rounded-lg p-5 text-center border-2 border-primary">
        <p>Humanista</p>
      </div>

      <div class="mx-2 w-72 rounded-lg p-5 text-center border-2 border-primary">
        <p>Análise do Comportamento | Behaviorismo</p>
      </div>
    </div>
  </section>

  <section class="bg-white border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
      <h4
        class="w-full my-2 text-5xl font-medium leading-tight text-center text-gray-800"
      >
        Ofereço ajuda para:
      </h4>
      <div class="w-full mb-10">
        <div
          class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <div
        class="flex flex-wrap justify-center items-center gap-10 pt-10 w-1/2 mx-auto"
      >
        <div
          class="bg-primary p-3 rounded-full text-center flex-1"
          style="min-width: 150px"
          *ngFor="let item of itens"
        >
          <span class=" "> {{ item.descricao }} </span>
        </div>
      </div>
    </div>
    <div id="enderecos"></div>
  </section>

  <section class="bg-white border-b py-8">
    <h2
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
    >
      Endereços:
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div
      class="flex justify-center items-center text-black mt-5 pt-5 text-center"
    >
      <h4 class="text-3xl">
        Atendimento Online e presencial nos endereços abaixo:
      </h4>
    </div>

    <div class="container max-w-5xl mx-auto m-8">
      <div
        class="flex flex-col sm:flex-row md:flex-row lg:flex-row justify-center items-center gap-8 py-8 text-gray-800 custom-ul"
      >
        <div class="whitespace-pre-line max-w-2xl">
          <div class="flex flex-col justify-center items-center gap-5">
            <div class="mx-5 sm:my-4 md:my-4 lg:my-4">
              <ul>
                <li>
                  Tv. Visc. de Morais, 226 - Botafogo, Rio de Janeiro -
                  RJ,22260-080, Brasil.
                </li>
              </ul>
            </div>

            <div *ngIf="apiLoaded" class="hidden sm:inline md:inline lg:inline">
              <google-map [center]="center" [zoom]="zoom">
                <map-marker [position]="markerPosition"> </map-marker>
              </google-map>
            </div>

            <div *ngIf="apiLoaded" class="sm:hidden md:hidden lg:hidden">
              <google-map
                [center]="center"
                height="200"
                width="300"
                [zoom]="zoom"
              >
                <map-marker [position]="markerPosition"> </map-marker>
              </google-map>
            </div>
          </div>
        </div>
        <div class="whitespace-pre-line max-w-2xl">
          <div class="flex flex-col justify-center items-center gap-5">
            <div class="mx-5 sm:my-4 md:my-4 lg:my-4">
              <ul>
                <li>
                  BARRA DA TIJUCA,Shopping Downtown, Avenida das Américas, 500,
                  bloco 16, portaria B, sala 217.
                </li>
              </ul>
            </div>

            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.0699417633236!2d-43.19081948554891!3d-22.9476511450984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997feed0a934a3%3A0x9c2a0d8091da5365!2sTv.%20Visc.%20de%20Morais%2C%20226%20-%20Botafogo%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022260-080!5e0!3m2!1spt-BR!2sbr!4v1675293508511!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <div *ngIf="apiLoaded" class="hidden sm:inline md:inline lg:inline">
              <google-map [center]="center2" [zoom]="zoom2">
                <map-marker [position]="markerPosition2"></map-marker>
              </google-map>
            </div>

            <div *ngIf="apiLoaded" class="sm:hidden md:hidden lg:hidden">
              <google-map
                [center]="center2"
                height="200"
                width="300"
                [zoom]="zoom2"
              >
                <map-marker [position]="markerPosition2"></map-marker>
              </google-map>
            </div>
          </div>
          <!-- <ul class="flex flex-col gap-4">
            <li>
              Tv. Visc. de Morais, 226 - Botafogo, Rio de Janeiro - RJ,
              22260-080, Brasil
            </li>
            <li>
              BARRA DA TIJUCA Shopping Downtown Avenida das Américas 500 bloco
              16 portaria B sala 217
            </li>
          </ul> -->
        </div>
      </div>
    </div>

    <div id="contato"></div>
  </section>

  <!-- Change the colour #f8fafc to match the previous section colour -->
  <svg
    class="wave-top"
    viewBox="0 0 1439 147"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
        <g class="wave" fill="#f8fafc">
          <path
            d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
          ></path>
        </g>
        <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
          <g
            transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) "
          >
            <path
              d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
              opacity="0.100000001"
            ></path>
            <path
              d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
              opacity="0.100000001"
            ></path>
            <path
              d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
              opacity="0.200000003"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
  <section class="container mx-auto text-center py-6 mb-12">
    <h2
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-white"
    >
      Entre Em contato!
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>
    <h3 class="my-4 text-3xl leading-tight">Agende já sua consulta!</h3>
    <br />
    <p>Atendo Adultos, Adolescentes, Idosos e Casais.</p>
    <br />
    <p>Para aqueles que possuem convênio emito recibo de reembolso.</p>

    <div class="flex justify-center items-center w-full">
      <button
      (click)="instagramClick()"
      class="bg-white  my-6 py-4 px-8 mx-4 font-bold rounded-full focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
    >
      <div class="flex justify-between items-center gap-3 text-white">
        <!-- <i class="bi bi-instagram" style="font-size: 2rem"></i> -->
        <img src="./../assets/icons/linktree-logo-icon.svg" alt=""  width="32" height="48">
        <p class="linktree-color">LinkTree</p>
      </div>
    </button>
      <button
        (click)="instagramClick()"
        class="button-gradient my-6 py-4 px-8 mr-4 font-bold rounded-full focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
      >
        <div class="flex justify-between items-center gap-3 text-white">
          <i class="bi bi-instagram" style="font-size: 2rem"></i>
          <p>Instagram</p>
        </div>
      </button>
      <button
        (click)="whatsappClick()"
        class="lg:mx-0 hover:underline bg-green-500 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
      >
        <div class="flex justify-between items-center gap-3">
          <i class="bi bi-whatsapp" style="font-size: 2rem"></i>
          <p>WhatsApp</p>
        </div>
      </button>
    </div>
  </section>
  <!--Footer-->
  <footer class="bg-gray-100 h-full text-black pt-5">
    <div
      class="flex flex-col sm:flex-row md:flex-row lg:flex-row justify-between items-center px-3 gap-4"
    >
      <div class="px-5 justify-start">
        <span>Contatos:</span>

        <div class="flex flex-col justify-start items-start">
          <div>
            <i class="bi bi-envelope-at"></i>
            amiris.antonio@gmail.com
          </div>
          <div class="cursor-pointer" (click)="instagramClick()">
            <i class="bi bi-instagram"></i>
            amiriscosta_psi
          </div>
          <div>
            <i class="bi bi-whatsapp text-green-500"></i>
            (11) 94808-1340
          </div>
        </div>
      </div>

      <div>
        <div class="pl-4 flex justify-center items-center gap-2">
          <div>
            <img
              alt="healt care icon"
              class="h-10"
              src="assets/icons/arvore.png"
            />
          </div>
          <span
            class="toggleColour text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
          >
            <!--Icon from: http://www.potlabicons.com/ -->

            Amiris Costa
          </span>
        </div>
      </div>
    </div>

    <div class="container flex justify-center items-center gap-3">
      <div>Amiris Costa</div>
      <div><span>&#169;</span> 2023</div>
    </div>
  </footer>
</div>

